.b-preload {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    z-index: 99;
    transition: 1s all;
    opacity: 1;
    visibility: visible;
}
.hide {
    opacity: 0;
    visibility: hidden;
    z-index: 0;
}
.element-prel-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, -100%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #623b2a;
    box-shadow: 0 4px 10px 1px #000;
    animation: 3s prel-1 linear infinite;
}
.element-prel-1::after {
    content: "";
    box-shadow: 0 0 6px 3px #fff;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
}
.element-prel-2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-150%, -100%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #000;
    box-shadow: 0 4px 10px 1px #000;
    animation: 3s prel-2 linear infinite;
}
.element-prel-2::after {
    content: "";
    box-shadow: 0 0 6px 3px #fff;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
}
.element-prel-3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%) scale(0.5);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #2667b2;
    box-shadow: 0 12px 12px 2px #000;
    animation: 3s prel-3 linear infinite;
}
.element-prel-3::after {
    content: "";
    box-shadow: 0 0 6px 3px #fff;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
}
@keyframes prel-1 {
    33% {
        transform: translate(-50%, 50%) scale(0.5);
        box-shadow: 0 12px 12px 2px #000;
    }
    66% {
        transform: translate(-150%, -100%);
        box-shadow: 0 4px 10px 1px #000;
    }
    100% {
        transform: translate(50%, -100%);
    }
}
@keyframes prel-2 {
    33% {
        transform: translate(50%, -100%);
        box-shadow: 0 4px 10px 1px #000;
    }
    66% {
        transform: translate(-50%, 50%) scale(0.5);
        box-shadow: 0 12px 12px 2px #000;
    }
    100% {
        transform: translate(-150%, -100%);
        box-shadow: 0 4px 10px 1px #000;
    }
}
@keyframes prel-3 {
    33% {
        transform: translate(-150%, -100%) scale(1);
        box-shadow: 0 4px 10px 1px #000;
    }
    66% {
        transform: translate(50%, -100%);
        box-shadow: 0 4px 10px 1px #000;
    }
    100% {
        transform: translate(-50%, 50%) scale(0.5);
        box-shadow: 0 12px 12px 2px #000;
    }
}